html {
  box-sizing: border-box;
  border: 0.5px solid blue;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.fw-widget-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.action-buttons {
  margin-bottom: 10px;
}
